html {
    height: 100%;
}
.post-container {
    margin-bottom: 45px;
    border-radius: 15px;
    margin-top: 25px; 
}

.post-container:hover {
    -webkit-box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
    box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
}

body{
    margin: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+100 */
    background: #cdeb8e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #cdeb8e 0%, #a5c956 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse farthest-corner, #cdeb8e 0%,#a5c956 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #cdeb8e 0%,#a5c956 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.hrPosts{
    margin-right: 55px;
}
.hrDiivide{
    height: 30px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
}

.hrDiivide:before{
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
}

.container{
    background-color: white;
    padding-bottom: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
    box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
    padding-top: 25px; 
    margin-bottom: 45px;
    
    
}
.posts{
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.btn {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

.btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 6px 6px 69px 0px rgba(0,0,0,0.33);
    margin: 8px 10px 12px;
}

.btn {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.btn:hover { background-position: right center; }


.toolbar {
    width: 100%;
    top: 0;
    left: 0;  
    margin-bottom: 15px;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_navigation a{
    color: white;
    text-decoration: none;

}

.toolbar_navigation a:hover,
.toolbar_navigation a:active {
    color: #32CD32;
}

.toolbar_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation li {
    padding: 0 0.5rem;
}

.toolbar_logo {
    margin-left: 1rem;
}

.spacer {
    flex: 1;
}

.toolbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    /*opacity: 0.5;*/
}